include components/header
body
  include components/navbar
  div.container
    h1 Benvenuti a Shortify

    h2 Su di Noi
    p
      | Benvenuti a Shortify, il luogo dove puoi accorciare URL in modo anonimo, rapido ed efficiente. Siamo un
      | servizio
      | open source dedicato alla tua privacy e alla sicurezza online.

    p
      | Siamo appassionati del web e crediamo che la condivisione di link dovrebbe essere semplice e sicura per
      | tutti.
      | Ecco perché abbiamo creato Shortify, un servizio che ti permette di accorciare i tuoi URL senza la necessità
      | di
      | fornire alcuna informazione personale. Non raccogliamo dati sensibili né teniamo traccia dei tuoi link. La
      | tua
      | privacy è al centro di tutto ciò che facciamo.

    h2 I Nostri Principi
    ul
      li
        strong Anonimato:
        | Non chiediamo alcuna informazione personale, come indirizzi email o nomi
        | utente.
        | Accorcia i tuoi URL in completa anonimità.
      li
        strong Sicurezza:
        | Ci impegniamo a proteggere la tua sicurezza online. I tuoi link saranno al
        | sicuro con noi.
      li
        strong Open Source:
        | Shortify è un progetto open source. Puoi esaminare il codice sorgente su
        | GitHub e contribuire al nostro sviluppo se desideri farlo.
      li
        strong Facilità d'Uso:
        | Abbiamo progettato Shortify in modo che sia semplice e intuitivo.
        | Accorcia
        | i tuoi URL in pochi clic.

    h2 Come Funziona
    p
      | Utilizzare Shortify è semplice. Basta incollare il link che desideri accorciare nella nostra casella e
      | cliccare
      | su "Accorcia". In pochi istanti, riceverai un URL accorciato pronto per la condivisione. Nessuna
      | registrazione,
      | nessun login, nessuna complicazione.

    p
      | Se hai domande o desideri ulteriori informazioni, ti invitiamo a contattarci. Siamo qui per assisterti e
      | garantire che tu possa godere appieno dei benefici di un URL più breve e sicuro.

    p
      | Grazie per aver scelto Shortify. Accorcia i tuoi URL con fiducia e tranquillità.