<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shortify - About</title>
    <link rel="stylesheet" href="https://unpkg.com/chota@latest">
</head>

<body>
    <nav class="nav">
        <div class="row">
            <a href="/" class="brand center">
                <p>Shortify</p>
            </a>
            <a href="/about">
                <p>About</p>
            </a>
        </div>
    </nav>

    <div class="container">
        <h1>Benvenuti a Shortify</h1>

        <h2>Su di Noi</h2>
        <p>Benvenuti a Shortify, il luogo dove puoi accorciare URL in modo anonimo, rapido ed efficiente. Siamo un
            servizio
            open source dedicato alla tua privacy e alla sicurezza online.</p>

        <p>Siamo appassionati del web e crediamo che la condivisione di link dovrebbe essere semplice e sicura per
            tutti.
            Ecco perché abbiamo creato Shortify, un servizio che ti permette di accorciare i tuoi URL senza la necessità
            di
            fornire alcuna informazione personale. Non raccogliamo dati sensibili né teniamo traccia dei tuoi link. La
            tua
            privacy è al centro di tutto ciò che facciamo.</p>

        <h2>I Nostri Principi</h2>
        <ul>
            <li><strong>Anonimato:</strong> Non chiediamo alcuna informazione personale, come indirizzi email o nomi
                utente.
                Accorcia i tuoi URL in completa anonimità.</li>
            <li><strong>Sicurezza:</strong> Ci impegniamo a proteggere la tua sicurezza online. I tuoi link saranno al
                sicuro con noi.</li>
            <li><strong>Open Source:</strong> Shortify è un progetto open source. Puoi esaminare il codice sorgente su
                GitHub e contribuire al nostro sviluppo se desideri farlo.</li>
            <li><strong>Facilità d'Uso:</strong> Abbiamo progettato Shortify in modo che sia semplice e intuitivo.
                Accorcia
                i tuoi URL in pochi clic.</li>
        </ul>

        <h2>Come Funziona</h2>
        <p>Utilizzare Shortify è semplice. Basta incollare il link che desideri accorciare nella nostra casella e
            cliccare
            su "Accorcia". In pochi istanti, riceverai un URL accorciato pronto per la condivisione. Nessuna
            registrazione,
            nessun login, nessuna complicazione.</p>

        <p>Se hai domande o desideri ulteriori informazioni, ti invitiamo a contattarci. Siamo qui per assisterti e
            garantire che tu possa godere appieno dei benefici di un URL più breve e sicuro.</p>

        <p>Grazie per aver scelto Shortify. Accorcia i tuoi URL con fiducia e tranquillità.</p>
    </div>

</body>

</html>